<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>自傳履歷</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:black; font-size:60px;}
  h2 {color:blue; font-size:40px;}
  h3 {color:black; font-size:30px;}
 </style>


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="/static/view.jpg"width="40%"></img>
 </td>>

 <td>
  <h1></h1><br>
 </td>
</tr>
</table>
<table width="80%" border="1">
<tr>
 <td>
 <h3>自我介紹</h3>
  我是陳昭毅，目前是企管系四年級，目前在學校已經完成行銷的學程，希望在未來的道路上能運用所學，來找到適合發揮我才能的工作。
 </td>

 <td>
  <h3>未來規劃</h3>
   在未來的工作我希望我能夠選擇音樂相關的工作，我不希望我的工作一塵不變，我喜歡能夠可以每天都在做有趣的事情，創意類型的，而我也希望能一直在能運用英文或是日文的場所，讓自己的語文能力不會退步。
 </td>

 <td>
 <h3>對自己的期許</h3>
  我的大學生活已經第四年了,明年就要大學畢業,邁向人生的另一個階段,還不太知道未來想做甚麼，但我認為生命總有出路，一定能有適合自己的工作，加油!
 </td>

</tr>
</table>

</body>