<!DOCTYPE html>
<html lang="zh-TW">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ERP系統工作相關介紹</title>
 <style type="text/css">
  * { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
  h1 {color:blue; font-size:50px;}
  h2 {color:black; font-size:20px;}
 </style>
 


</head>
<body>
 <table width="70%">
  <tr>
   <td>
  <img src="/static/fuji.jpg"width="110%"></img>
 </td>>

 <td>
  <h1>台灣富士電子材料股份有限公司 </h1><br>
 </td>
</tr>
</table>
<table width="70%" border="1">
<tr>
 <td>
 <h2>關於公司</h2><br>
  名稱:台灣富士電子材料股份有限公司<br>
  上班地點:新竹縣湖口鄉光復北路30號 (新竹工業區)<br>
  工作內容:<br>
   1.SAP ERP (S/4 HANA) FI/CO/MM/SD/PP日常運作維護及異常處理。 <br>
   2.SAP ABAP程式/報表開發、需求分析/設計、測試驗證能力。<br>
   3.SAP ERP系統導入，參與SAP ERP專案並與專案團隊完成專案目標。<br> 
   4.了解ERP系統流程，熟悉工廠生產營運流程。<br>  
   5.擁有良好的內外部溝通協調能力、執行力、積極及責任心，並具備團隊合作能力。 <br>
 Contact:<br>
  公司網站:<a href="https://www.fujifilm.com/fetw/zh-hant">https://www.fujifilm.com/fetw/zh-hant</a><br>
  人才招募介紹:加入台灣富士電子材料，接軌世界半導體領域！<br>
 </td>

 <td>
  <h2>職務介紹</h2><br>
   營運管理師、<br>
   系統整合專案師、<br>
   ERP專案師、<br>
   系統工程師、<br>
   軟體工程師<br>
 </td>

 <td>
 <h2>徵才條件</h2><br>
  工作經歷:一年以上<br>
  學歷要求:大學、碩士<br>
  科系要求:資訊工程相關<br>
  語文條件:英文(聽、說、讀、寫)<br>
  擅長工具:MS SQL、Oracle、Power BI、SAP<br>
  其他條件:<br>
    1.具SAP任一模組導入經驗者佳<br>
    2.熟悉ERP系統流程及工廠生產營運流程者佳<br>
    3.具ERP系統與其他異質系統整合經驗者（EX. LIMS, MES, WMS….）<br>
    4.具ERP系統維護或程式開發經驗1-3年以上<br>
 </td>
</tr>
</table>

</body>